<<<<<<< HEAD
.contenedor{
    color: white;
    background-color: crimson;
=======
.eldivMario{
 color: yellowgreen;
 font-size: 500px;
 
#holi{
    background-color: aquamarine;
    color: blueviolet;
>>>>>>> 83ac3bdffe4b79ed9a83566a3b97f747c9d31712
}