/*  === Variables ===*/
:root {
  --colorNaranjaHeader: #fdc35a;
  --colorNaranjaFondoTextos: #ffd486;
  --colorNaranjaFooterYBotones: #f68035;
  --colorNaranjaFondoBarraListas: #fee1ac;
  --colorNaranjaFondoFormularios: #f5b27f;
  --colorVerdeFondo: #008f7a;
  --fuenteTextoTitulos: "Montserrat", sans-serif;
  --fuenteTextoCuerpo: "Hind", sans-serif;
}

/*  === Globales y Generales ===*/
html {
  /*Border ni padding no afectan el ancho*/
  box-sizing: border-box;
  /*1rem = 10px*/
  font-size: 62.5%;
}

*,
*:before,
*:after {
  /*inherit, hereda del elemento padre*/
  box-sizing: inherit;
}

h1,
h2,
h3 {
  /*agregue esto . Miguel*/
  font-family: var(--fuenteTextoTitulos);
  font-weight: 700;
  /*700-bold*/
  font-size: 3rem;
  padding: 0;
  margin: 0;
  text-align: center;
  /*agregue esto . Miguel*/
}

p {
  /*agregue esto . Miguel*/
  font-family: var(--fuenteTextoCuerpo);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.enlaces {
  /*Agregue esto . Miguel*/
  font-family: var(--fuenteTextoTitulos);
  /*Cambie la fuente de acuerdo al Mock Up - Alex*/
  font-weight: 700;
  /*Cambie la fuente de acuerdo al Mock Up - Alex*/
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  /*Agregue esto . Miguel*/
  margin-right: 20px;
  /*agregue esto . cynthia*/
}

.enlaces:hover {
  /*Agregue esto . Miguel*/
  color: white;
  /*Agregue esto . Miguel*/
}

.enlaces:last-child {
  /*Agregue esto . Miguel*/
  margin: 0;
  /*Agregue esto . Miguel*/
}

.customSearch{
  width: 200px;
  height: 30px;
}
/* .divNav { */
  /*Esconde el nav*/
  /* display: none;
} */

/* .divBusqueda {
  position: relative;
} */

/* .barraBusqueda {
  padding: 1rem;
  padding-right: 3.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
} */

/* .lupa {
  position: absolute;
  padding: 0.8rem;
} */

@media (min-width: 768px) {
  .divNav {
    /*Muestra el nav*/
    display: flex;
    flex-direction: row;
  }

  .enlaces {
    /*Agregue esto . Miguel*/
    font-family: var(--fuenteTextoTitulos);
    /*Cambie la fuente de acuerdo al Mock Up - Alex*/
    font-weight: 700;
    /*Cambie la fuente de acuerdo al Mock Up - Alex*/
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    /*Agregue esto . Miguel*/
    margin-right: 20px;
    /*agregue esto . cynthia*/
  }
}

@media (min-width: 992px) {
  .enlaces {
    /*Agregue esto . Miguel*/
    font-family: var(--fuenteTextoTitulos);
    /*Cambie la fuente de acuerdo al Mock Up - Alex*/
    font-weight: 700;
    /*Cambie la fuente de acuerdo al Mock Up - Alex*/
    font-size: 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    /*Agregue esto . Miguel*/
    margin-right: 20px;
    /*agregue esto . cynthia*/
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--colorNaranjaFondoBarraListas);
  max-height: 10rem;
  margin-bottom: 2rem;

  /* Centrar vertical y horizontalmente el contenido de las celdas */
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colorNaranjaFondoBarraListas);
    max-height: 10rem;
    margin-bottom: 2rem;
  }

  .divBusqueda {
    display: flex;
    flex-direction: row;
  }

  .contenedorBusqueda {
    display: none;
  }
}

.enlaceImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 15rem;
  /* background-color: blue; */
}

.imgLogo {
  max-width: 100px;
  max-height: 85px;
  /* Ajuste el tamaño del logo - Alex */
  padding: 1rem 0;
  /* Le di un espacio al logo para que no este pegado con las lías del navbar - Alex*/
}

.cajaBusqueda {
  font-family: var(--fuenteTextoCuerpo);
  font-weight: 400;
  font-size: 2rem;
}

.contenedorMaestro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contenedorMaestro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
  }
}

/*No tocar (Mejoralito[Aspirina])*/
.principal,
.sectionMisionVision,
.contenedorValores {
  grid-column: 2/3;
}

/*No tocar (Mejoralito[Aspirina])*/

/* === Carrusel  ==== */
/* ajustar el tamaño de la imagen del carrusel -cynthia*/
.carousel-inner img {
  margin: auto;
  max-height: 300px;
  border-radius: 20px;
}

/* ajusta el tamaño del carrusel, se agrego para evitar que al momento de cambiar de imagen se sobrepongan dos imagenes ina sobre otra -cynthia */
.carousel-inner {
  max-height: 300px;
}

/* se agrega backgroud de la caption para que no se pierda el color de las letras -cynthia*/
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1px;
}

.sectionMisionVision {
  /*Agregue esto . Miguel*/

  margin: 2rem 0;
  background-color: var(--colorNaranjaFondoTextos);
  text-align: center;
  max-height: 35rem;
  padding: 2rem;
  /*Agregue esto . Miguel*/
}

@media (min-width: 768px) {
  .sectionMisionVision {
    /*Agregue esto . Miguel*/
    margin: 2rem 0;
    background-color: var(--colorNaranjaFondoTextos);
    text-align: center;
    max-height: 35rem;
    padding: 2rem;
    /*Agregue esto . Miguel*/
  }
}

@media (min-width: 992px) {
  .sectionMisionVision {
    /*Agregue esto . Miguel*/
    margin: 2rem 0;
    background-color: var(--colorNaranjaFondoTextos);
    text-align: center;
    max-height: 25rem;
    padding: 2rem;
    /*Agregue esto . Miguel*/
  }
}

.divMision,
.divVision {
  padding: 2rem 0;
}
.sectionMisionVision h2 {
  padding: 2rem;
}

.sectionValores h2 {
  text-align: center;
  padding: 2rem;
}
.contenedorValores {
  margin: 2rem 0;
}
.sectionValores {
  text-align: center;
  margin: 2rem;
}
.sectionValores h3 {
  font-size: 2rem;
  padding: 1.5rem;
  border: 2rem;
}
.sectionValores p {
  font-size: 1.5rem;
  padding: 0.8rem;
  border: 2rem;
}

/*Agregue esto . Miguel*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorNaranjaFooterYBotones);
  max-height: 35rem;
  padding: 1rem;
  /*agregue un espacio en el footer para que no estuviera tan peagado al margen de la pantalla - Alex*/
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorNaranjaFooterYBotones);
    max-height: 30rem;
    padding: 3rem;
    /*agregue un espacio en el footer para que no estuviera tan peagado al margen de la pantalla - Alex*/
  }
}

.iconos-redes {
  /*Formato iconos *Mario*/
  max-width: 40px;
  /*Tamaño de iconos?*/
  /*Modifique el tamaño de los iconos - Alex*/
}

.iconos-redes:hover {
  color: black;
  text-shadow: 0 0 5px white;
}

/* ====================================================navbar===============??????????????????????? */

/* .navbar-custom {
  background-color:  #f68035;
} */

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #fdc35a !important;
}

#formulario {
  margin-top: 50px;
  background-color: #f5b27f;
  padding: 50px;
  border-radius: 10px;

  height: auto;
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .col-sm-none {
    display: none; /* Se oculta en dispositivos pequeños */
  }
}
textarea.form-control {
  height: 250px;
}
.btn-primary {
  font-family: var(--fuenteTextoTitulos);
  color: black;
  font-weight: 700;
  background-color: #f68035;
  border-color: #f68035;
  border-radius: 10px;
  padding: 10px 40px;
}
.btn-primary:hover {
  background-color: #008f7a; /* Cambia el color cuando el cursor está sobre el botón */
  border-color: #008f7a;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  outline: none;
  box-shadow: none;
  background-color:#008f7a ;
  border-color: #008f7a;
}

.btn-categoria{
  font-family: var(--fuenteTextoTitulos);
  color: black;
  font-weight: 700;
  background-color: #f68035;
  border-style: none;
  border-radius: 10px;
  padding: 10px 40px;
  box-shadow: none;
}

.btn-categoria:hover {
  background-color: #008f7a; /* Cambia el color cuando el cursor está sobre el botón */
  border-style: none;
  box-shadow: none;
  color: white;

}

.Horario {
  text-align: center;

  justify-content: center;
}

/*Ajusta la clase de bootstrap para la imagen de las tarjetas*/
.card-img-top {
  height: 210px;
  object-fit: contain;
}

.img-btn-categoria{/*Tamaño del icono categoria perro gato*/
  height: 70px;
}

.dropdown-toggle{
  font-size: 2.5rem;
  text-align: center;
}

.dropdown-menu{
  background-color: var(--colorNaranjaFooterYBotones);
  border-radius: 0 0 10px 10px;
  padding: 0;
}


.dropdown-item{/*Letra de los items del menu desplegale*/
  font-family: var(--fuenteTextoCuerpo);
  font-size: 1.5rem;
  color: black;
}

.dropdown-item:hover{/*Letra de los items del menu desplegale*/
  font-size: 1.5rem;
  background-color: var(--colorVerdeFondo);
  color: white;
  border-radius: 0px;
}

.dropdown-menu li:last-child > a:hover{
  border-radius: 0 0 10px 10px;
}

.texto-filtros{
  font-family: var(--fuenteTextoTitulos);
  font-size: 1.5rem;
}

.filtros{
  background-color: var(--colorNaranjaFondoBarraListas);
}

.fi-sr-star,
.fi-rr-star{
  color: #008f7a;
}

.vineta-filtros {
  background-color: #f5b27f;
  padding: 10px;
  border-radius: 10px;
  height: auto;
}

.form-container {
  background-color: #F5B27F;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 70%;
  font-family: var(--fuenteTextoCuerpo);
}

.alert{
  display: none;
}

select{
  display: block;
  width: 100%;
}

.icono-valor:hover{
  transform: scale(1.3);
  filter: drop-shadow(0 0 1px rgb(0, 143, 122));
}

.form-iniciarSesion {
  max-width: 90%;
}
